# Estudiantes (POST)
VITE_ESTUDIANTES_API_BASE_URL=/api

# Retos (GET)
VITE_RETOS_API_BASE_URL=/api-retos

# Suscripciones (POST)
VITE_SUSCRIPCIONES_API_BASE_URL=/api-suscripciones

# Uploads S3 presigned (POST)
VITE_UPLOADS_API_BASE_URL=/api-uploads

# Evaluaciones IA (POST + GET resultado)
VITE_EVALUACIONES_API_BASE_URL=/api-evaluaciones

# Certificaciones (POST + GET estudiante)
VITE_CERTIFICACIONES_API_BASE_URL=/api-certificaciones

# Emails (POST link certificación)
VITE_EMAILS_API_BASE_URL=/api-emails
